<div class="container">
  <form [formGroup]="editarCursoform" (ngSubmit)="putCurso(editarCursoform.value)">
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Identificacion_Curso</label>
        <input type="number" class="form-control" formControlName="id_curso" readonly>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Descripcion</label>
      <input type="text" class="form-control" formControlName="descripcion_curso">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Precio</label>
      <input type="number" class="form-control" formControlName="precio_curso">
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Dias</label>
        <input type="text" class="form-control" formControlName="dias_curso">
      </div>
    <button type="submit" class="btn btn-light" style="margin-bottom:20px;">Guardar</button>
    <button type="button" class="btn btn-dark" style="margin-bottom:20px; margin-left: 15px;" (click)="Salir()">Salir</button>
  </form>

</div>
