<div class="container">
  <h1 style="color:darkslategrey;">Control de Estudiantes</h1>
  <button (click)="Listar()" class="btn btn-secondary">Lista de Alumnos</button>
</div>

<div class="container" style="margin-top: 20px;">
  <h1 style="color:darkslategrey;">Control de Cursos</h1>
  <button (click)="ListarCurso()" class="btn btn-secondary">Administracion de Cursos</button>
</div>

<div class="container" style="margin-top: 20px;">
  <h1 style="color:darkslategrey;">Control de Familia</h1>
  <button (click)="ListarFamilia()" class="btn btn-secondary">Administracion de Familia</button>
</div>

<div class="container" style="margin-top: 20px;">
  <h1 style="color:darkslategrey;">Control de Seccion</h1>
  <button (click)="ListarSeccion()" class="btn btn-secondary">Administracion de Seccion</button>
</div>
